#add-emp-modal {
    display: none;
    position: absolute;
    z-index: 1050;
    background-color: white;
    border: 1px solid #888;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 428px;
    height: 230px;
}

/* 모달 콘텐츠 */
.add-emp-modal-content {
    padding: 20px;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: #F5F5F5;
}

.create-chat-title {
    padding: 0px 15px;
}

.input-add-emp-box input {
    width: 100%;
    height: 50px;
    border: 1px solid #DDD; /* Standard light grey border */
    padding: 11px 15px; /* Padding inside the input */
    font-size: 20px; /* Font size */
    color: #333; /* Text color */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Border and padding included in width */
    background-color: #fff; /* White background */
}

.input-add-emp-box input:focus {
    border-color: #3595f6;
    outline: none;
}

input::placeholder {
    color: #999999;
}

.input-add-emp-box {
    margin-top : 10px !important;
}

.input-add-group-name {
    margin-top : 40px;
}

.input-add-group-name i {
    font-size: 45px;
}

.button-area button {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.button-area {
    margin-top: 10px;
}

.create-button {
    background-color: #0056B3;
    color: white;
    border: none;
}

.cancel-button {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #959595;
}

.tagify{
    width: 100%;
    max-width: 700px;
}

.tagify--outside{
    border: 0;
}

.tagify--outside .tagify__input{
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
.tagify--outside.tagify--focus .tagify__input{
    transition:0s;
    border-color: var(--tags-focus-border-color);
}

.input-add-emp-box {
    overflow: visible;
    height: auto;
}

.add-emp-input-box {
    min-height: 70px;
    max-height: 100px;
    overflow-y: auto;
}

.modal-title-word {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}