body {
  font-family: "NanumSquare_ac", sans-serif;
}

/* 첫번째 사이드바 메뉴 정리 */
.side-bar-menu {
  border: 1px solid #e4e4e4;
  background-color: #ebebeb;
  width: 4rem;
  height: 55.9rem;
  box-shadow: inset 5px 0px 10px #dedede; /* 오른쪽으로 10px 그림자 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.side-bar-menu-icon-with-name > * {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.alram,
.date,
.company,
.chat-bot,
.chat {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.icons {
  margin-bottom: 5px;
}
