.contents {
  margin-left: 441px;
  width: 79rem;
  height: 55.7rem;
  overflow-y: auto;
  position: absolute;
  background-color: white;
}

/* .contents-test {
  width: 100%;
  height: 100%;
  background-color: white;
} */
