body {
  margin: 0;
  font-family: "NanumSquare_ac", sans-serif;
}

.full {
  width: 99vw; /* 브라우저 너비의 100% */
  height: 100vh; /* 브라우저 높이의 100% */
  display: flex;
  flex-direction: column;
}

.top-bar {
  border: 1px solid #e4e4e4;
  height: 40px;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
}

.search {
  font-family: "One Mobile Title", sans-serif;
  font-weight: 400; /* Regular weight */
}

.side-bar-menu {
  border: 1px solid #e4e4e4;
  background-color: #ebebeb;
  width: 50px;
  height: 100%;
  box-shadow: inset 5px 0px 10px #dedede; /* 오른쪽으로 10px 그림자 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  height: calc(100% - 45px); /* top-bar 높이 제외 */
}

.second-side-bar {
  width: 22vw;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
  overflow-y: auto;
}

.second-side-bar-menu {
  background-color: green;
  width: 100%;
  height: 64rem;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지가 컨테이너 안에 맞게 조정됨 */
}

.logo {
  margin-left: 5px;
  margin-top: 5px;
  width: 100px;
  height: 30px; /*
  border: 1px solid black; */
}

.contents {
  width: 79rem;
  height: 100%;
  overflow-y: auto;
}

.contents-test {
  width: 100%;
  height: 70rem;
  background-color: beige;
}

.employee {
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
