/* 최외각 div class를 아래의 .second-side-bar와 바꿔주세요. */
.second-side-bar {
  flex: 0 0 22%;
  max-width: 500px;
  min-width: 260px;
  height: 100%;
  background-color: #f5f5f5;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  overflow-y: auto;
  /* 위치 속성 제거 */
}

.second-side-bar::-webkit-scrollbar {
  width: 10px;
}

.second-side-bar::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 20px;
}

.second-side-bar::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 20px;
}

/* .second-side-bar-menu {
  background-color: green;
  width: 22vw;
  height: 64rem;
} */
.layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 40px); /* 헤더의 높이를 빼주어야 함 */
}