.category-name {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.category {
    padding: 30px 10px;
    border-bottom: 1px solid #e0e0e0;
}

.category .fa-pen-to-square {
    color: #007bff;
    font-size: 30px;
}

.chat-room-type > div {
    padding: 15px 0px;
}

.chat-room-type p {
    font-size: 15px;
    font-weight: bold;
}

.favor-box {
    border-left: 2px solid #e0e0e0;
}

.inactive-box {
    background-color: #D9D9D9;
}

.fa-minus {
    color: #FFFFFF;
}

.chat-room-type > div {
    cursor: pointer;
}

.profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #D9D9D9;
    border-radius: 70%;
}

.chat-image {
    height: 250px;
    overflow: hidden;
    position: relative;
}



.status {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    background-color: #92C353;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #FFFFFF;
    margin-left: 300px;
    margin-top: 30px;
}

.absent-status {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    background-color: #eaa300;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #FFFFFF;
    margin-left: 300px;
    margin-top: 30px;
}

.inactive-status {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #FFFFFF;
    margin-left: 300px;
    margin-top: 30px;
}

.dnd-status {
     width: 20px;
     height: 20px;
     border-radius: 70%;
     background-color: #ea0000;
     position: absolute;
     bottom: 0;
     right: 0;
     border: 1px solid #FFFFFF;
     margin-left: 300px;
     margin-top: 30px;
}

.check-icon {
    color: #FFFFFF;
}

.chat-room-last-message {
    margin-top: 20px;
}

.unread-count-box {
    margin-top: 20px;
}

.sub-text {
    color: #8C8C8C;
}

.chat-room {
    border-bottom: 2px solid #e0e0e0;
    cursor: pointer;
    padding: 15px 0px;

}

.chat-rooms-list {
}

.chat-room-item.active {
    background-color: rgba(0, 123, 255, 0.5)

}

.last-message-at {
    text-align: right;
}

.chat-room .unread-count-box {
    display: inline-block;
    background-color: #FF5442;
    border-radius: 12px;
    padding: 2px 6px;
    justify-items: center;
}

.chat-room .unread-count {
    color: #FFFFFF;
    font-size: 12px;
    margin: 0;
}

.chat-room-name {
    font-size: 15px;
    font-weight: bold;
}

.chat-room-name p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    max-width: 395px;
}

.chat-room-last-message p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
}

.last-message-at p {
    margin: 0;
}

.no-padding-left {
    padding-left: 0 !important;
}

.name-time-box {
    width: 100%; !important;
    padding-left: 0 !important;
}

.placeholder-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.default-area h2 {
    font-size: 24px;
    color: #555;
}

.default-area p {
    font-size: 16px;
    color: #888;
}