button {
    border: none;
    background-color: #F5F5F5;
}

.create-chat-title {
    padding: 0px 15px;
}

.create-input-box {
    margin: 150px !important;
}

.plus-icon {
    font-size: 20px;
}

.create-input-box span {
    font-size: 20px;
}

.add-dept-box {
    margin-left: 10% !important;
    cursor: pointer;
}

.add-dept-button {
    background-color: #7AB7FA;
    color: white;
    width: 21%;
    padding-left: 6px;
    border-radius: 10px;
}

.user-plus-icon {
    font-size: 45px;
}

.create-input-box input {
    width: 100%;
    height: 50px;
    border: 1px solid #DDD; /* Standard light grey border */
    padding: 11px 15px; /* Padding inside the input */
    font-size: 20px; /* Font size */
    color: #333; /* Text color */
    box-sizing: border-box; /* Border and padding included in width */
    background-color: #fff; /* White background */
}

.input-box input:focus {
    border-color: #3595f6;
    outline: none;
}

input::placeholder {
    color: #999999;
}

.create-input-add-emp-box {
    margin-top : 10px !important;
}

.input-add-group-name {
    margin-top : 40px;
}

.input-add-group-name i {
    font-size: 45px;
}

.tagify {
    width: 100%;
    height: 50px;
}

.button-area {
    margin-top: 25px;
}

.button-area button {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.create-button {
    background-color: #0056B3;
    color: white;
    border: none;
}

.cancel-button {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #959595;
}

.tagify {
    display: block;
    width: 100%;
    min-height: 38px; /* 필요에 따라 최소 높이 조절 */
    height: auto !important;
    max-height: 300px;
    overflow-y: auto;
}

/* 태그가 많아질 때 입력 필드의 높이를 자동으로 늘림 */
.tagify__input {
    white-space: normal !important;
    height: auto;
}

.create-input-add-emp-box {
    overflow: visible;
    height: auto;
}