.category-name {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.category {
    padding: 30px 10px;
    border-bottom: 2px solid #e0e0e0;
}

.notification-item i {
    font-size: 30px;
    color: #007bff;
}

.notification-list > .row {
    width: 100%;
}

.notification-title {
    font-size: 20px;
    font-weight: bold;
}

.notification-contents {
    font-size: 15px;
    margin-top: 15px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notification-item {
    padding: 20px 18px;
    border-bottom: 2px solid #e0e0e0;
    cursor: pointer;
}

#detail-contents {
    display: flex;
    justify-content: center;
    width: 750px;
    height: 650px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

#detail-container.hidden {
    display: none;
}

.detail-title {
    font-size: 33px;
    font-family: "One Mobile Title", sans-serif !important;
    margin-top: 35px;
    padding-bottom: 7px;
    border-bottom: 2px solid darkgray;
    font-weight: bold;
}
#start-date-detail,
#end-date-detail,
#writer-detail {
    width: 11rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1.5px 1px #ccc;
}

#add-people-text,
#detail-text-title,
.detail-dates label,
.writer-box {
    font-weight: bold;
}

.detail-dates {
    margin-top: 40px !important;
}

.add-people {
    margin-top: 40px !important;
}

#add-people-table {
    margin-top: 5px;
    width: 460px;
    height: 120px;
    border: 1px solid #cecece;
    border-radius: 3px;
}

#detail-people-header {
    background-color: #d2dae1;
    font-size: 15px;
    border-bottom: 1px solid #d2dae1;
    font-weight: bold;
}

.detail-text {
    margin-top: 40px !important;
}

#detail-text-contents {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 200px;
    border: 1px solid #d2dae1;
}

#detail-table td,
#detail-table th {
    border-bottom: 1px solid #d2dae1;
    padding: 3px !important;
}
#detail-table td {
    border-bottom: 1px solid #d2dae1;
}

#detail-buttons {
    justify-content: end;
    margin-top: 20px;
}

#detail-reject {
    color: white;
    width: 100px;
    height: 40px;
    background-color: indianred;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#detail-approve {
    color: white;
    width: 100px;
    height: 40px;
    background-color: #0056b3;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 5px;
}

.detail-inner {
    padding: 40px;
    width: 80%;
}

.start-date-box {
    width: 28%;
    padding-left: 15px;
}

.writer-box {
    padding-top: 40px;
}

.notification-time {
    padding: 0px !important;
}

.cancel-button-custom {
    background-color: #7F8C8D ; /* 회색 배경 */
    color: #FFFFFF ;           /* 검정색 글씨 */
}