#full {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#find-password-container {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

#find-password-contents {
  width: 700px;
  height: 500px;
  background-color: rgb(248, 248, 248);
  box-shadow: 3px 3px 3px rgba(167, 167, 167, 0.5); /* 그림자 추가 */
  border: 1.5px solid #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
}

#logo {
  width: 150px;
  height: 150px;
}

#find-password-message {
  margin-top: 25px;
  font-size: 20px;
  color: #767676;
}

#input1 {
  margin-top: 12px;
}

#input1 > input {
  width: 300px;
  height: 30px;
  border: 1px solid #cecece;
}

#find-password-title {
  font-family: "One Mobile Title", sans-serif;
  width: 300px;
  height: 40px;
  margin-top: 16px;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.buttons {
  position: absolute;
  margin-left: 29rem;
  margin-top: 26rem;
}

#find-password-button {
  width: 100px;
  height: 40px;
  background-color: #0056b3;
  border-radius: 2px;
  color: white;
  margin-top: 14px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
}

#find-password-close {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
  color: black;
  margin-top: 14px;
  border: 1px solid #cecece;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
}

#password-form {
  margin-bottom: 40px;
}

.buttons-email {
  position: absolute;
  margin-left: 29rem;
  margin-top: 26rem;
}

#find-password-email-button {
  width: 100px;
  height: 40px;
  background-color: #0056b3;
  border-radius: 2px;
  color: white;
  margin-top: 14px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
}

#find-password-email-backpage {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
  color: black;
  margin-top: 14px;
  border: 1px solid #cecece;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
}

#close-password-page {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
  color: black;
  margin-top: 27rem;
  border: 1px solid #cecece;
  box-shadow: 1px 1px 1px #cecece;
  cursor: pointer;
  position: absolute;
  margin-left: 35rem;
}
